<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!--estilo css  -->
    <%- include("./partials/head.ejs") %>
    <title><%= title %></title>
  </head>
  <body>

     <%- include("./partials/navitagion.ejs") %>

    <h1>Contact</h1>
    <!-- footer -->
     <%- include("./partials/footer.ejs") %> 
  </body>
</html>
