<div id="carouselExampleSlidesOnly" class="carousel slide w-25 mx-auto 
" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/image/carousel/nodejs.svg" class="d-block w-100" alt="NodeJS-image">
    </div>
    <div class="carousel-item">
      <img src="/image/carousel/expressjs.svg" class="d-block w-100" alt="Express-image">
    </div>
    <div class="carousel-item">
      <img src="/image/carousel/nodemon.svg" class="d-block w-100" alt="Nodemon-image">
    </div>
    <div class="carousel-item">
      <img src="/image/carousel/bootstrap.svg" class="d-block w-100" alt="Bootstrap-image">
    </div>
    <div class="carousel-item">
      <img src="/image/carousel/font-awesome.svg" class="d-block w-100" alt="FontAwesome-image">
    </div>
  </div>
</div>