<div
  id="carouselExampleSlidesOnly"
  class="carousel slide w-75 mx-auto mt-5 mb-5 shadow text-secondary"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/image/carousel-contact/img1.png"
        class="d-block w-100"
        alt="NodeJS-image1"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img2.jpg"
        class="d-block w-100"
        alt="NodeJS-image2"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img3.png"
        class="d-block w-100"
        alt="NodeJS-image3"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img4.jpg"
        class="d-block w-100"
        alt="NodeJS-image4"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img5.jpg"
        class="d-block w-100"
        alt="NodeJS-image5"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img6.jpg"
        class="d-block w-100"
        alt="NodeJS-image6"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img7.jpeg"
        class="d-block w-100"
        alt="NodeJS-image7"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img8.png"
        class="d-block w-100"
        alt="NodeJS-image8"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img9.jpg"
        class="d-block w-100"
        alt="NodeJS-image9"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/image/carousel-contact/img10.jpg"
        class="d-block w-100"
        alt="NodeJS-image10"
      />
    </div>
  </div>
</div>
